{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="form-posts">
    <h2 class="h2-header">All Posts</h2>

    <form action="{% url 'posts' %}" method="POST" id="postForm" name="PostForm" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="col-sm-10">
            <label for="postContent" class="col-sm2 col-form-label col-form-label-sm">New Post</label>
            {{ form.postContent }}
        </div>

        <div id="posts-view" style='display:none'>
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4">
                    {% for item in post %}
                        <div class="col-sm-10">
                            <label for="postContent" class="col-sm2 col-form-label col-form-label-sm">Content:</label>
                            {{ item.post_content }}
                        </div>
                    {% endfor %}
                </div>
                {% empty %}
                    <div class="error-message">Sorry, no posts found.</div>
                {% endfor %}
            </div>
            {% if message %}
                <div class="error-message">{{ message }}</div>
            {% else %}
                <div class="error-message"></div>
            {% endif %}
            </div>
    </form>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
