{% extends "network/layout.html" %}

{% block body %}
<div class="form-posts">
    <h2 class="h2-header">All Posts</h2>

    <form action="{% url 'posts' %}" method="POST" id="postForm" name="PostForm" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                  {{ item.post_content}}
            </div>
            {% for post in posts %}
            <div class="col-md-4">
                {% for item in post %}
                    <div class="col-sm-10">
                        <label for="listingContent" class="col-sm2 col-form-label col-form-label-sm">Content:</label>
                        {{ item.post_content }}
                    </div>
                {% endfor %} <!-- for listing in listings --!>
            </div> <!-- /col-md-4 -->
            {% empty %}
                <div class="error-message">Sorry, no posts found.</div>
            {% endfor %}
        </div><!-- /row -->
        {% if message %}
            <div class="error-message">{{ message }}</div>
        {% else %}
            <div class="error-message"></div>
        {% endif %}
    </form>
</div>{% endblock %}