{% extends "network/layout.html" %}
{% load static %}

<title>{% block title %}Network - Register{% endblock title %}</title>

{% block body %}
<div class="form-holder">
    <h2 class="h2-header">Register</h2>
    <br><br>
    <div class="form-content">
        <div class="form-items">
            <form action="{% url 'register' %}" method="POST" name="RegisterForm">
                {% csrf_token %}
                <div class="mb-3">
                    <i class="material-icons" id="search-camera">photo_camera</i>
                    <img id="imageFile" src="static/network/acinqueterre.jpg" alt="photo" class="rounded-circle" width="54" height="154"> 
                    {{ form.registerImageFile }}
                </div>
                <div class="mb-3">
                    {{ form.registerFirstName }}
                </div>
                <div class="mb-3">
                    {{ form.registerLastName }}
                </div>
                <div class="mb-3">
                    {{ form.registerUsername }}
                </div>
                <div class="mb-3">
                    {{ form.registerEmail }}
                </div>
                <div class="mb-3">
                    {{ form.registerPassword }}
                </div>
                <div class="mb-3">
                    {{ form.registerConfPassword }}
                </div>
                {% if message %}
                <div class="error-message">{{ message }}</div>
                {% else %}
                <div class="error-message"></div>
                {% endif %}
                <div class="form-button">
                    <input class="btn btn-primary" type="submit" value="Register">
                </div>
                <div class="form-register">
                    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
