{% extends "network/layout.html" %}
{% load static %}

<title>{% block title %}Network - Register{% endblock title %}</title>

{% block body %}
<div class="form-holder">
    <h2 class="h2-header">Register</h2>
    <br><br>
    <div class="form-content">
        <div class="form-items">
            <form action="{% url 'register' %}" method="POST" name="RegisterForm" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="col-md-4"> 
                    <span class="btn btn-info" style="display:none" ><i class="glyphicon glyphicon-plus"> </i> Browse
                        <input id="registerImageFile" type="file" style="position:relative;overflow:hidden" accept="image/png, image/jpeg, image/jpg" />
                        {% comment %} <input id="i" foi trocado por registerImageFile type="file" style="position:relative;overflow:hidden" accept="image/png, image/jpeg" /> {% endcomment %}
                    </span>
                </div>

                <div id="fileChooser">
                    <img id="defaultImageFile" style="display:''" accept="image/jpeg, image/png, image/jpg" src="media/default/user.png" class="rounded-circle btn btn-default btn-file" width="54" height="154">
                    <img type="file" id="imageFile" style="display:none" class="rounded-circle btn btn-default btn-file form-control" width="54" height="154"> 
                </div>

                <div id="imageName" style="display:none"></div>

                <hr>
                
                <div class="mb-3" style="display:none">
                    <span class="btn btn-info">
                        {{ form.registerImage }}
                    </span>
                </div>

                <div class="mb-3">
                    {{ form.registerFirstName }}
                </div>
                <div class="mb-3">
                    {{ form.registerLastName }}
                </div>
                <div class="mb-3">
                    {{ form.registerUsername }}
                </div>
                <div class="mb-3">
                    {{ form.registerEmail }}
                </div>
                <div class="mb-3">
                    {{ form.registerPassword }}
                </div>
                <div class="mb-3">
                    {{ form.registerConfPassword }}
                </div>
                {% if message %}
                <div class="error-message">{{ message }}</div>
                {% else %}
                <div class="error-message"></div>
                {% endif %}
                <div class="form-button">
                    <input class="btn btn-primary" type="submit" value="Register">
                </div>
                <div class="form-register">
                    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}

{% block script %}
    <script src="{% static 'network/network.js' %}">
        sessionStorage.setItem('registerImageFile1', event.target.files[0])
    </script>
{% endblock %}
