@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

body {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.form-posts {
    inherits: false;
    margin-left: 20px;
}

.h2-header {
    font-weight: bold;
    font-size: x-large;
    height: 30px;
    text-align: center;
}






.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.post-content {
    margin-top: 10px;
    font-weight: normal;
    font-size: normal;
}

.post-comments{
    display: flex;
    align-content: flex-end;
}

.div-header {
    display: flex;
}

.div-h1 {
    width: 10%;
}

.div-menu {
    width: 90%;
}

.div-user .div-user-logged {
    width: 10%;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.div-user-image {
    width: 10%;
    display: ;
}

.header {
    justify-content: space-between;
    background-color: #6666f1;   
    padding: 10px 20px;
}

.h1-header {
    font-weight: bold;
    font-size: xx-large;
}

.h2-header {
    font-weight: bold;
    font-size: x-large;
    height: 30px;
}

nav {
    justify-content: right;
    color: white;
}

.nav-link {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
}

.nav-link:hover {
    color: red;
    transition-property: color 1s;
} 

.nav-watch {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
}

.nav-user {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    --margin-right: 30px;
    --width: 50px;
}

.nav-user-logged {
    display: inline-flex;
    font-style: italic;
    color: black;
    margin-left: 10px;
}    

.nav-watch::after {
    text-align: center;
    font-size: 10px;
    color: black;
    content:attr(content);
    width: 15px;
    height: 15px;
    margin-left: 5px;
    --margin-bottom: 2px;
    --padding-left:2px;
    --padding-top:2px;
    background-color: red;
    border-radius: 5px;
}

.error-message {
    height: 24px;
    color: red;
}

.winner-message {
    height: 30px;
    color: red;
}

.form-group .form-button {
    width: 300px;
    align-items: center;
}

.form-register {
    margin-top: 20px;
    align-content: center;
}

.a-title {
    width: 150px;
    margin-right: 10px;
}

.form-button {
    text-align: center;
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
}

.form-holder .form-posts {
    text-align: left;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content .form-items {
    border: 3px solid #325AB4;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    border-radius: 10px;
    text-align: left;
    transition: all 0.4s ease;
}

.rounded-circle {
    margin-left: 7em;
    display: flex;
    width: 50%;
    background-color: lightblue;
}
